<section class="main-section">
    <p class="page-breadcrumb"> <span routerLink="/home"> Dashboard </span>/ <span routerLink="/distributor"> Sabari MIlk </span> / Distributors</p>
    <h3 class="page-title">Distributors</h3>
    <button type="button" class="btn btn-primary add-new" routerLink="/add-distributor"> + Add New</button>

    <div class="distributors-list">
        <form class="form-inline distributors-search">
            <div class="input-group  mb-3">
                <div class="input-group-prepend">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                        viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                </div>
                <input type="text" class="form-control" placeholder="Search" aria-label="Search"
                    aria-describedby="basic-addon1">
            </div>
        </form>
        <div class="distributors-table">
            <div class="distributors-table-header">
                <div class="row-head">
                    <div class="no-col">
                    </div>
                    <div class="sebastian-col">
                        Name
                    </div>
                    <div class="distributor-col">
                        Distributor ID
                    </div>
                    <div class="manage-col">
                        Manage
                    </div>
                </div>
            </div>
            <div class="distributors-table-items custom-scrollbar">
                <div class="row-item">
                    <div class="no-col">
                        01
                    </div>
                    <div class="sebastian-col">
                        Sebastian
                    </div>
                    <div class="distributor-col">
                        TVM06SABSEB
                    </div>
                    <div class="manage-col">
                        <button type="button" class="btn btn-primary distributor-block-btn">Block</button>
                        <button type="button" class="btn btn-dark  distributor-block-edit">Edit</button>
                        <button type="button" class="btn btn-outline-dark distributor-block-delete">Delete</button>
                    </div>
                </div>

                <div class="row-item">
                    <div class="no-col">
                        01
                    </div>
                    <div class="sebastian-col">
                        Sebastian
                    </div>
                    <div class="distributor-col">
                        TVM06SABSEB
                    </div>
                    <div class="manage-col">
                        <button type="button" class="btn btn-primary distributor-block-btn">Block</button>
                        <button type="button" class="btn btn-dark  distributor-block-edit">Edit</button>
                        <button type="button" class="btn btn-outline-dark distributor-block-delete">Delete</button>
                    </div>
                </div>

                <div class="row-item">
                    <div class="no-col">
                        01
                    </div>
                    <div class="sebastian-col">
                        Sebastian
                    </div>
                    <div class="distributor-col">
                        TVM06SABSEB
                    </div>
                    <div class="manage-col">
                        <button type="button" class="btn btn-primary distributor-block-btn">Block</button>
                        <button type="button" class="btn btn-dark  distributor-block-edit">Edit</button>
                        <button type="button" class="btn btn-outline-dark distributor-block-delete">Delete</button>
                    </div>
                </div>

                <div class="row-item">
                    <div class="no-col">
                        01
                    </div>
                    <div class="sebastian-col">
                        Sebastian
                    </div>
                    <div class="distributor-col">
                        TVM06SABSEB
                    </div>
                    <div class="manage-col">
                        <button type="button" class="btn btn-primary distributor-block-btn">Block</button>
                        <button type="button" class="btn btn-dark  distributor-block-edit">Edit</button>
                        <button type="button" class="btn btn-outline-dark distributor-block-delete">Delete</button>
                    </div>
                </div>

                <div class="row-item">
                    <div class="no-col">
                        01
                    </div>
                    <div class="sebastian-col">
                        Sebastian
                    </div>
                    <div class="distributor-col">
                        TVM06SABSEB
                    </div>
                    <div class="manage-col">
                        <button type="button" class="btn btn-primary distributor-block-btn">Block</button>
                        <button type="button" class="btn btn-dark  distributor-block-edit">Edit</button>
                        <button type="button" class="btn btn-outline-dark distributor-block-delete">Delete</button>
                    </div>
                </div>

                <div class="row-item">
                    <div class="no-col">
                        01
                    </div>
                    <div class="sebastian-col">
                        Sebastian
                    </div>
                    <div class="distributor-col">
                        TVM06SABSEB
                    </div>
                    <div class="manage-col">
                        <button type="button" class="btn btn-primary distributor-block-btn">Block</button>
                        <button type="button" class="btn btn-dark  distributor-block-edit">Edit</button>
                        <button type="button" class="btn btn-outline-dark distributor-block-delete">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>