<header>
    <p class="page-breadcrumb"> <span routerLink="/home"> Home </span>/ Routes</p>
    <h3 class="page-title">Routes</h3>
    <button type="button" class="btn btn-primary add-new" routerLink="/add-route"> + Add New</button>
</header>
<section class="main-section">
    <div class="routes-list">
        <div class="routes-table">
            <div class="routes-table-header">
                <div class="row-head">
                    <div class="no-col">
                    </div>
                    <div class="route-col">
                        Route
                    </div>
                    <div class="open-time-col">
                        Open Time
                    </div>
                    <div class="close-time-col">
                        Close Time
                    </div>
                    <div class="manage-col"></div>
                </div>
            </div>
            <div class="routes-table-items custom-scrollbar">
                <div class="row-item" *ngFor="let route of RoutesList; let i = index">
                    <div class="no-col">
                        {{i+1}}
                    </div>
                    <div class="route-col">
                        {{route.name}}
                    </div>
                    <div class="open-time-col">
                        {{route.openTime}}
                    </div>
                    <div class="close-time-col">
                        {{route.closeTime}}
                    </div>
                    <div class="manage-col">
                        <button type="button" class="btn btn-dark  distributor-block-edit">Edit</button>
                        <button type="button" (click)="dropRoute(route.w, route.name)" class="btn btn-outline-dark distributor-block-delete">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>