<ion-content>
  <div class="vertical-top-margin">

    <ion-list *ngFor="let item of notifications">
      <ion-list-header>
        <p class="day-wise">{{ item._id | convertFrom24To12Format }}</p>
      </ion-list-header>

      <ion-item *ngFor="let records of item.records">
         <!-- Your Order Delivered icon-circel icon-bg-greenclr -->
        <div slot="start" class="icon-circel icon-bg-greenclr">
          <img src="\assets\icon\cart.png" />
        </div>
        <ion-label>
          <h2>{{records.title}}</h2>
          <p>{{records.body}}</p>
          <p><span>{{records.date | date:'MMM dd'}}</span> <span>{{records.date | date:'hh:mm a'}}</span></p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
