<header>
    <p class="page-breadcrumb"> <span routerLink="/home"> Dashboard </span>/ <span routerLink="/distributor"> Sabari
            MIlk </span> / Product Inventory</p>
    <h3 class="page-title">Product Inventory</h3>
    <button type="button" class="btn btn-primary add-new" routerLink="/add-distributor"> + Add New</button>
</header>

<section class="main-section">
    <div class="page-center-content custom-scrollbar">
        <div class="row">
            <div class="col-sm-6">
                <div class="product">
                    <div class="product-img">
                        <img src="../../../assets/images/sabarimilk.png" class="img-fluidimg-thumbnail" alt="product image">
                    </div>
                    <span class="product-toggle">
                        <input type="checkbox" id="switch" /><label for="switch">Toggle</label>
                    </span>
                    <div class="product-data">
                        <h5>Sabar Cow Milk 500ml</h5>
                        <div>
                            <button type="button" class="btn btn-primary">Edit</button>
                            <button type="button" class="btn btn-outline-light">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="product">
                    <div class="product-img">
                        <img src="../../../assets/images/sabarimilk.png" class="img-fluidimg-thumbnail" alt="product image">
                    </div>
                    <span class="product-toggle">
                        <input type="checkbox" id="switch" /><label for="switch">Toggle</label>
                    </span>
                    <div class="product-data">
                        <h5>Sabar Cow Milk 500ml</h5>
                        <div>
                            <button type="button" class="btn btn-primary">Edit</button>
                            <button type="button" class="btn btn-outline-light">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="product">
                    <div class="product-img">
                        <img src="../../../assets/images/sabarimilk.png" class="img-fluidimg-thumbnail" alt="product image">
                    </div>
                    <span class="product-toggle">
                        <input type="checkbox" id="switch" /><label for="switch">Toggle</label>
                    </span>
                    <div class="product-data">
                        <h5>Sabar Cow Milk 500ml</h5>
                        <div>
                            <button type="button" class="btn btn-primary">Edit</button>
                            <button type="button" class="btn btn-outline-light">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="product">
                    <div class="product-img">
                        <img src="../../../assets/images/sabarimilk.png" class="img-fluidimg-thumbnail" alt="product image">
                    </div>
                    <span class="product-toggle">
                        <input type="checkbox" id="switch" /><label for="switch">Toggle</label>
                    </span>
                    <div class="product-data">
                        <h5>Sabar Cow Milk 500ml</h5>
                        <div>
                            <button type="button" class="btn btn-primary">Edit</button>
                            <button type="button" class="btn btn-outline-light">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="product">
                    <div class="product-img">
                        <img src="../../../assets/images/sabarimilk.png" class="img-fluidimg-thumbnail" alt="product image">
                    </div>
                    <span class="product-toggle">
                        <input type="checkbox" id="switch" /><label for="switch">Toggle</label>
                    </span>
                    <div class="product-data">
                        <h5>Sabar Cow Milk 500ml</h5>
                        <div>
                            <button type="button" class="btn btn-primary">Edit</button>
                            <button type="button" class="btn btn-outline-light">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="product">
                    <div class="product-img">
                        <img src="../../../assets/images/sabarimilk.png" class="img-fluidimg-thumbnail" alt="product image">
                    </div>
                    <span class="product-toggle">
                        <input type="checkbox" id="switch" /><label for="switch">Toggle</label>
                    </span>
                    <div class="product-data">
                        <h5>Sabar Cow Milk 500ml</h5>
                        <div>
                            <button type="button" class="btn btn-primary">Edit</button>
                            <button type="button" class="btn btn-outline-light">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="product">
                    <div class="product-img">
                        <img src="../../../assets/images/sabarimilk.png" class="img-fluidimg-thumbnail" alt="product image">
                    </div>
                    <span class="product-toggle">
                        <input type="checkbox" id="switch" /><label for="switch">Toggle</label>
                    </span>
                    <div class="product-data">
                        <h5>Sabar Cow Milk 500ml</h5>
                        <div>
                            <button type="button" class="btn btn-primary">Edit</button>
                            <button type="button" class="btn btn-outline-light">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="product">
                    <div class="product-img">
                        <img src="../../../assets/images/sabarimilk.png" class="img-fluidimg-thumbnail" alt="product image">
                    </div>
                    <span class="product-toggle">
                        <input type="checkbox" id="switch" /><label for="switch">Toggle</label>
                    </span>
                    <div class="product-data">
                        <h5>Sabar Cow Milk 500ml</h5>
                        <div>
                            <button type="button" class="btn btn-primary">Edit</button>
                            <button type="button" class="btn btn-outline-light">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="product">
                    <div class="product-img">
                        <img src="../../../assets/images/sabarimilk.png" class="img-fluidimg-thumbnail" alt="product image">
                    </div>
                    <span class="product-toggle">
                        <input type="checkbox" id="switch" /><label for="switch">Toggle</label>
                    </span>
                    <div class="product-data">
                        <h5>Sabar Cow Milk 500ml</h5>
                        <div>
                            <button type="button" class="btn btn-primary">Edit</button>
                            <button type="button" class="btn btn-outline-light">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="product">
                    <div class="product-img">
                        <img src="../../../assets/images/sabarimilk.png" class="img-fluidimg-thumbnail" alt="product image">
                    </div>
                    <span class="product-toggle">
                        <input type="checkbox" id="switch" /><label for="switch">Toggle</label>
                    </span>
                    <div class="product-data">
                        <h5>Sabar Cow Milk 500ml</h5>
                        <div>
                            <button type="button" class="btn btn-primary">Edit</button>
                            <button type="button" class="btn btn-outline-light">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="product">
                    <div class="product-img">
                        <img src="../../../assets/images/sabarimilk.png" class="img-fluidimg-thumbnail" alt="product image">
                    </div>
                    <span class="product-toggle">
                        <input type="checkbox" id="switch" /><label for="switch">Toggle</label>
                    </span>
                    <div class="product-data">
                        <h5>Sabar Cow Milk 500ml</h5>
                        <div>
                            <button type="button" class="btn btn-primary">Edit</button>
                            <button type="button" class="btn btn-outline-light">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="product">
                    <div class="product-img">
                        <img src="../../../assets/images/sabarimilk.png" class="img-fluidimg-thumbnail" alt="product image">
                    </div>
                    <span class="product-toggle">
                        <input type="checkbox" id="switch" /><label for="switch">Toggle</label>
                    </span>
                    <div class="product-data">
                        <h5>Sabar Cow Milk 500ml</h5>
                        <div>
                            <button type="button" class="btn btn-primary">Edit</button>
                            <button type="button" class="btn btn-outline-light">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>