<header>
    <p class="page-breadcrumb"> <span routerLink="/home"> Dashboard </span>/ <span routerLink="/distributor"> {{seletedBrand.name}} </span> / Order Management</p>
    <h3 class="page-title">Order Management</h3>
</header>

<section class="main-section order-management-list">
    <div class="row">
        <div class="col-md-6">   
            <div class="order-info">
                <div class="col-12">
                    <div class="row">
                        <div class="row">
                            <div class="col-4">
                                <p class="info-sub-title">Distributor</p>
                                <p class="info-title"><strong>Distributor</strong></p>
                            </div>
                            <div class="col-4">
                                <p class="info-sub-title">Name</p>
                                <p class="info-title"><strong>Sebastian</strong></p>
                            </div>
                            <div class="col-4">
                                <p class="info-sub-title">Brand</p>
                                <p class="info-title"><strong>Sabari</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>       
        </div>
        <div class="col-md-6"></div>    
    </div>
    
    <div class="clearfix"></div>
    
    <div class="place-order">
        <div class="row">
            <div class="col-md-9">
                <div class="placeorder-table custom-scrollbar">
                    <div class="placeorder-table-header">
                        <div class="row-head">
                            <div class="item-col">
                                Product Name
                            </div>
                            <div class="qty-col">
                                Quantity
                            </div>
                            <div class="packets-col">
                                No of Packets
                            </div>
                            <div class="price-col">
                                Price
                            </div>
                        </div>
                    </div>
                    <div class="placeorder-table-items custom-scrollbar">
                        <div class="row-item">
                            <div class="item-col">
                                <div class="oder-item">
                                    <div class="product-img">
                                        <img src="{{Testimage}}" class="img-fluidimg-thumbnail" alt="product image">
                                    </div>
                                    <div class="product-info">
                                        <h4>Product Name</h4>
                                        <p class="Product-Price">450.00 <span>Per Crate</span> </p>
                                    </div>
                                </div>
                            </div>
                            <div class="qty-col">
                                <input maxlength="3" class="form-control" type="number">
                                <p>Crates</p>
                            </div>
                            <div class="packets-col">
                                <p>500</p>
                            </div>
                            <div class="price-col">
                                <p>9000.00</p>
                            </div>
                        </div>
                        <div class="row-item">
                            <div class="item-col">
                                <div class="oder-item">
                                    <div class="product-img">
                                        <img src="{{Testimage}}" class="img-fluidimg-thumbnail" alt="product image">
                                    </div>
                                    <div class="product-info">
                                        <h4>Product Name</h4>
                                        <p class="Product-Price">450.00 <span>Per Crate</span> </p>
                                    </div>
                                </div>
                            </div>
                            <div class="qty-col">
                                <input maxlength="3" class="form-control" type="number">
                                <p>Crates</p>
                            </div>
                            <div class="packets-col">
                                <p>500</p>
                            </div>
                            <div class="price-col">
                                <p>9000.00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="order-summery">
                    <h5> Order Summery </h5>
                    <div class="price-data order-total">
                        <div>Order Total</div>
                        <div>900.00</div>
                    </div>
                    <div class="price-data order-Outstanding">
                        <div>Outstanding</div>
                        <div>900.00</div>
                    </div>
                    <div class="price-data order-Grand-Total">
                        <div>Total</div>
                        <div>900.00</div>
                    </div>
                </div>
                <button class="btn btn-primary btn-block btn-place-order">Place Order</button>
            </div>
        </div>
    </div>

</section>