<ion-content>
    <div class="vertical-top-margin">
        <ion-card>
            <ion-item color="blue">
                <ion-label>
                    <div class="align">
                        <p>Distributor</p>
                        <span>TVM06SABSEB</span>
                        <p><a href="">Add Entry</a></p>
                    </div>
                </ion-label>
            </ion-item>
        </ion-card>
        <ion-card>
            <ion-item color="blue">
                <ion-label>
                    <div class="align">
                        <p>Distributor</p>
                        <span>TVM06SABSEB</span>
                        <p><a href="">Add Entry</a></p>
                    </div>
                </ion-label>
            </ion-item>
        </ion-card>
        <ion-card>
            <ion-item color="blue">
                <ion-label>
                    <div class="align">
                        <p>Distributor</p>
                        <span>TVM06SABSEB</span>
                        <p><a href="">Add Entry</a></p>
                    </div>
                    <span class="badge">2</span>
                </ion-label>
            </ion-item>
        </ion-card>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <h4 class="heading-title">Delivered <img src="\assets\icon\check.png"></h4>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-card>
            <ion-item color="grey" class="delivery-content">
                <ion-label>
                    <div class="align">
                        <p>Distributor</p>
                        <span>TVM06SABSEB</span>
                        <p><a href="">Add Entry</a></p>
                    </div>
                </ion-label>
            </ion-item>
        </ion-card>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <div class="call-details">
                        <img src="\assets\icon\phone.png">
                        <span>Call Admin</span>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>

    </div>
</ion-content>