$border-color: #E5E6E9;
$label-color:#2A2A2A;
//$primary-color:#1B4867;
//$primary-color: #2648a7;
$primary-color: #79C569;
$white:#fff;
//$btn-bg:#0A324E;
$btn-bg:#428bca;
$btn-border:#116199;
$list-border:#c7c7c7;
$light-gray:#998FA2;
$black:#000;
//$menu-bg:#61B6CB;
$menu-bg:#428bca;
$text-color:#998FA2;
$text-color1:#423050;
$green:#2E9A00;
$red:#FF0000;
$gradient-bg: linear-gradient(to bottom,#002060 0%,#1f71bd 49%, #428bca 100%);
$label-gray:#545454;
$btn-green:#b4d563;
$btn-hover-bg: #ebebeb;
$dark-grey:#333;
$theme-yellow: #ffc000;
