@import "./colors.scss";

@mixin position-div{
    position:relative;
    z-index:9999;
}
@mixin page-padding{
    padding:20px 15px 0;
    @media only screen and (min-width:320px) and (max-width:767px){
        padding:10px 5px 0;
    }
    
}
@mixin margin-div{
    margin-top:-65px;
}
@mixin button-style{
    text-transform: uppercase;
    font-size:16px;
    line-height:21px;
    font-weight: 700;
    height:50px;
    width:50%;
    margin:45px 0 0;
}
@mixin label-style{
    font-size:16px;
    color:$dark-grey !important;
    text-transform:normal;
    font-weight:600;
    @media only screen and (min-width:320px) and (max-width:568px){
        font-size:16px;
    }
    
}
@mixin input-select-style{
    font-size:18px;
    color:$primary-color;
    @media only screen and (min-width:320px) and (max-width:767px){
        font-size:18px;
    }
}
@mixin item-select-input{
    box-shadow: none ;
    border: none;
    border-bottom: 1px solid $primary-color;
    margin-top: 0px ;
    border-radius: 0px ;
    --min-height:40px;
    @media screen and (min-width: 767px){
        --min-height:57px;
    }
    background: transparent;
}
ion-item.item-label::part(native), ion-item.view-more-btn::part(native){
    --padding-start:0;
}
ion-item.menu-links::part(native){
    --padding-start:inherit;
}
.error-validation{
    color:$red;
    font-size:14px;
    --border-color:transparent;
    --border-width:0;
    --padding-start:0;
}
.item-has-focus.label-floating.sc-ion-label-md-h, .item-has-focus .label-floating.sc-ion-label-md-h, .item-has-placeholder.label-floating.sc-ion-label-md-h, .item-has-placeholder .label-floating.sc-ion-label-md-h, .item-has-value.label-floating.sc-ion-label-md-h, .item-has-value .label-floating.sc-ion-label-md-h{
    -webkit-transform: translateY(50%) scale(0.95);
    transform: translateY(50%) scale(0.95);
}
// .item-has-value .label-floating.sc-ion-label-md-h{
   
// }
.error-position{
    --background: transparent;
    position: absolute;
    top: auto;
    margin-top: -14px;
}
.input-space{
    margin-top:10px!important;
}
form{
    .item-input, .item-select, .item-datetime{
        @include item-select-input;
        padding:7px 0px;
        --padding-start:10px;
        --padding-end:10px;
        @media only screen and (min-width:320px) and (max-width:767px){
            --min-height: 51px;
            background: transparent;
            padding: 7px 0 0;
            --padding-start: 10px;
            --padding-end: 0px;
        }
    }
    .item-select, .item-datetime{
        --border-color:transparent;
        --border-width:0;
        --background-hover:transparent;
        --background-activated: transparent;
        --background-focused: transparent;
    }
    .item-label, .item-checkbox-checked{
        --background-hover:transparent;
        --background-activated: transparent;
        --background-focused: transparent;
    }
    .item-label-floating .sc-ion-input-ios-h, .item-label-floating .sc-ion-input-md-h {
        padding: 0;
        margin:0;
    }
    .item-label-floating .sc-ion-input-md-h{
        @media only screen and (min-width:320px) and (max-width:767px){
            margin-top:5px;
        }
    }
    .native-input.sc-ion-input-ios, .native-input.sc-ion-input-md{
        @include input-select-style;
            padding: 0;
            margin:0;
    }
    .label-floating.sc-ion-label-ios-h,  .label-floating.sc-ion-label-md-h, .item.sc-ion-label-ios-h,  .item .sc-ion-label-ios-h{
        @include label-style;
        padding: 0;
        margin:0;
        @media only screen and (min-width:320px) and (max-width:767px){
            padding-right:20px;
            padding-left:0px;
        }
    }
    .sc-ion-input-ios-h, .sc-ion-input-md-h{
        @include input-select-style;
        padding: 0;
        margin:0;
    }
    ion-select, ion-datetime{
        @include input-select-style;
    }
}
.item-input{
    border-bottom: 1px solid $primary-color;
}
.item-label-floating .sc-ion-input-ios-h, .item-label-floating .sc-ion-input-md-h{
    --padding-top:0;
}
// ion-select{
//     --padding-top:0;
// }

.form-with-label .sc-ion-label-md-h{
    // transform: translateY(200%);
    margin:0 0 5px !important;
}
.label-floating .sc-ion-label-ios-h, .label-floating.sc-ion-label-md-h{
    --padding-top:10px;
    --padding-bottom:0px;
}

.covid-button-fixed{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 95px;
    z-index: 9999;
    background:$white;
    display:block;
    @media screen and(min-width:576px){
         display:none;
    }
    .register-btn{
        --color: #fff;
        --border-radius:0 31px 0 0;
        --box-shadow: 4px -5px 7px 2px #00000029;
        @include button-style;
    }
    .cancel-btn{
        --color: #002060;
        --border-radius:31px 0 0 0;
        --box-shadow: -5px -5px 7px 2px #0000001a;
        @include button-style;
    }
}
.covid-button-desktop{
    display:block;
    @media screen and(max-width:575px){
         display:none;
    }
    .register-btn{
        --color: #fff;
        --border-radius:31px;
        --box-shadow: 1px 2px 8px 7px #00000029;
        @include button-style;
        width:40%;
        margin:0 0 0 10px;
        --background:#002060!important;
    }
    .cancel-btn{
        --color:#002060;
        --border-radius:31px;
        --box-shadow: 1px 2px 8px 7px #0000000a;
        @include button-style;
        width:40%;
        margin:0 10px 0 0;
    }
}
.profile-btns{
    justify-content: flex-start;
    display: flex;
    

    .register-btn{
        --color: #fff;
        --border-radius:31px;
        --box-shadow: 1px 2px 8px 7px #00000029;
        //--background:#1B4867;
       
        --background:#002060!important;
        @include button-style;
        width:150px;
        margin:0 0 0 10px;
    }
    .ion-color-primary{
         --ion-color-base:#002060!important;
    }
     
    .cancel-btn{
        //--color:#1B4867;
        --color:#002060;
        --border-radius:31px;
        --box-shadow: 1px 2px 8px 7px #0000000a;
        @include button-style;
        width:150px;
        margin:0 10px 0 0;
    }
}
.profile-btns.profile-extra-btn{
    .register-btn{
        margin:0;
    }
}
.alert-title{
    color:$primary-color!important;
    font-size: 17px!important;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
.alert-tappable.sc-ion-alert-md{
    height:40px;
}
.alert-radio-label.sc-ion-alert-md{
    -webkit-padding-start:20px;
    padding-inline-start: 20px;
    -webkit-padding-end: 20px;
    padding-inline-end: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 13px;
}
.alert-radio-icon.sc-ion-alert-md{
    left:15px;
}

.vaccinate, .alert-button-inner {
    --color: #fff;
    --border-radius:31px;
    --box-shadow: 1px 2px 8px 7px #00000029;
    @include button-style;
    margin: 0px 0 10px;
    font-weight: 600;
    --background:#002060;
}


th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding: 0 15px;
}
.verify-cancel-btn{
    --color:#002060;
    --border-radius:31px;
    --box-shadow: 1px 2px 8px 7px #0000000a;
    @include button-style;
    width:150px;
    margin: 15px 0 10px;
    --background:#fff;
}

.apply-filter-btn{
    --color: #fff;
    --border-radius:31px;
    --box-shadow: 1px 2px 8px 7px #00000029;
    @include button-style;
    font-size:14px;
    width:auto;
    margin: 15px 0 10px;
    --background:#002060;
    padding-left:5px;
  }
  
.clear-filter-btn{
    --color: #002060;
    --border-radius:31px;
    --box-shadow: 1px 2px 8px 7px #0000000a;
    @include button-style;
    font-size:14px;
    width:120px;
    margin: 15px 0 10px;
    --background:#fff;
    padding-right:5px;
}
  
.benificiary-checkbox{
    font-size: 14px !important;
    line-height: 18px;
    color: $primary-color !important;
    ion-checkbox{
        margin-right:5px;
    }
    ion-label{
        font-size:16px;
        @media only screen and (min-width:320px) and (max-width:767px){
            font-size:13px;
        }
    }
    &:hover{
        color:$primary-color;
    }
}
.view-more {
    --background: transparent;
    color: $primary-color;
    --box-shadow: none;
    float: right;
    height: 20px;
    font-size: 13px;
    text-transform: uppercase;
  }
  .no-ellipse-checkbox-label{
      overflow:visible;
      text-overflow: unset;
      white-space: unset;
  }
  .concen-btn{
      float:none;
      text-decoration: underline;
      font-weight: bold;
      cursor: pointer;
  }
  .benificiary-checkbox{
    ion-checkbox{
        margin-right:5px;
        --size: 18px;
        --border-radius: calc(var(--size) * 0.125);
        --border-width: 2px;
        --border-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.51);
    }
}
ion-button{
    --background-activated:transparent;
        --background-focused: transparent;
        --background-hover: transparent;
}
form .bene-input input.native-input.sc-ion-input-ios, form .bene-input .native-input.sc-ion-input-md, form .bene-label ion-select, form .bene-label ion-datetime{
    font-size:16px !important;
    border-bottom:1px solid $primary-color;
}
form .bene-label ion-select{
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
}
form .bene-label ion-datetime{
    padding:0;
}
form .bene-label .mat-datepicker-input{
    font-size:16px !important;
    border-bottom:1px solid $primary-color;
    margin:0 !important;
    width: 100%;
}
form .bene-label .mat-datepicker-toggle{
    right:35px;
}
form .bene-input.ng-dirty.ng-invalid.ng-touched.ion-dirty.ion-invalid.ion-touched  input.native-input.sc-ion-input-ios, form .bene-input.ng-dirty.ng-invalid.ng-touched.ion-dirty.ion-invalid.ion-touched  .native-input.sc-ion-input-md {
    border-bottom-color: red;
}
.vaccinate-download{
    --border-radius: 31px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    height: 50px;
    width: 50px;
    right: 0;
    top: 30px;
    width: 50px;
    position: absolute;
  }
  .profile-btns{
      .vaccinate{
          margin: 0 5px;
      }
  }
  .bene-label .error-validation p{
      margin:0;
  }