//@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root {
    --ion-font-family: 'Montserrat', sans-serif;
    font-family: var(--ion-font-family) !important;
    --ion-color-secondary: linear-gradient(90deg, rgba(84, 158, 73, 1) 0%, rgba(121, 197, 106, 1) 100%);
    --ion-color-secondary-rgb: 0, 102, 0;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #a9d8a2;
    --ion-color-secondary-tint: #1a751a;
    --ion-color-cash: linear-gradient(90deg, rgba(46, 37, 95, 1) 0%, rgba(106, 117, 197, 1) 100%);
    --ion-color-shade: linear-gradient(90deg, rgba(46, 37, 95, 1) 0%, rgba(106, 117, 197, 1) 100%);
}

.ion-color-cash {
    --ion-color-base: var(--ion-color-cash);
    --ion-color-base-rgb: var(--ion-color-cash-rgb);
    --ion-color-contrast: var(--ion-color-cash-contrast);
    --ion-color-contrast-rgb: var(--ion-color-cash-contrast-rgb);
    --ion-color-shade: #6a75c5;
    --ion-color-tint: var(--ion-color-cash-tint);
}

.header-translucent-ios ion-toolbar {
    opacity: 1;
}