<ion-toolbar class="app-header">
  <ion-title>Hello,
    <p>Sebastian</p>
  </ion-title>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon name="notifications"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-content paddingclass="ion-padding-vertical">
  <ion-card>
    <ion-item color="secondary">
      <ion-avatar>
        <ion-icon name="card-sharp"></ion-icon>
      </ion-avatar>
      <ion-label>
        <div class="align">
          <h6 class="ion-text-start">Outstanding Crates</h6>
        </div>
        <h1>56</h1>
        <div class="align">
          <a href="">View History</a>
        </div>
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item color="cash">
      <ion-avatar>
        <ion-icon name="card-sharp"></ion-icon>
      </ion-avatar>
      <ion-label>
        <div class="align">
          <h6 class="ion-text-start">Outstanding Crates</h6>
        </div>
        <h1>56</h1>
        <div class="align">
          <a href="">View History</a>
        </div>
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-list>
    <ion-list-header>
      Notifications
    </ion-list-header>

    <ion-item>
      <ion-icon slot="start" name="pin"></ion-icon>
      <p class="ion-text-left">Lorem Ipsum is simply dummy text of the printing and typesetting industry </p>

    </ion-item>


  </ion-list>



</ion-content>
