<ion-content>
    <div class="vertical-top-margin">
        <ion-card>
            <ion-item color="secondary">
                <img src="\assets\icon\crate.png">
                <ion-label>
                    <div class="align">
                        <p>Outstanding Crates</p>
                        <span>56</span>
                        <p><a href="">View History</a></p>
                    </div>
                </ion-label>
            </ion-item>
        </ion-card>
        <ion-card class="card-money">
            <ion-item color="cash">
                <img src="\assets\icon\cash.svg">
                <ion-label>
                    <div class="align">
                        <p>Outstanding Money</p>
                        <span>₹ 7,880</span>
                        <p><a href="">View History</a></p>
                    </div>
                </ion-label>
            </ion-item>
        </ion-card>
        <ion-list>
            <ion-grid>
                <ion-row>
                    <ion-col size="6">
                        <h4 class="heading-title">Notifications</h4>
                    </ion-col>
                    <ion-col size="6">
                        <a href="">View All</a>
                    </ion-col>

                </ion-row>
            </ion-grid>
            <ul class="experiences">

                <!-- Experience -->
                <li class="green">
                    <div class="where">
69
                        <p>Curabitur id elementum mauris. Duis elit velit, vehicula id lobortis a, finibus sit amet massa.</p>

                    </div>

                </li>
                <!-- Experience -->
                <li class="green">
                    <div class="where">
                        <p>Curabitur id elementum mauris. Duis elit velit, vehicula id lobortis a, finibus sit amet massa.</p>

                    </div>
                </li>
                <!-- Experience -->
                <li class="green">
                    <div class="where">
                        <p>Curabitur id elementum mauris. Duis elit velit, vehicula id lobortis a, finibus sit amet massa.</p>

                    </div>
                </li>
            </ul>
        </ion-list>

    </div>

</ion-content>
