.app-header{
  padding: 25px 20px 25px 5px;
  ion-title{
    color: #303030;
    font-size: 23px;
    font-weight: bold;
    line-height: 27px;
    p{
      margin: 0;
      color: #303030;
      font-size: 13px;
      letter-spacing: 0;
      font-weight: 400;
      line-height: 15px;
    }
  }
}