/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


@import "./theme/inputs.scss";
@import "./theme/icons.scss";
@import "./theme/common.scss";
@import './theme/colors.scss';

body{
  font-family: 'Montserrat', sans-serif !important;
}
re-captcha > div {
    margin: 0 auto !important;
}


ion-modal.sc-ion-modal-ios-h.my-custom-class, .sc-ion-modal-md-h {
    --height: 75%;
    -ms-flex-align: flex-end;
    align-items: flex-end;
    --border-radius: 55px 55px 0 0;
    --border-width: 3px;
    --border-style: solid;
    --border-color:#002060;
}

.modal-wrapper.sc-ion-modal-md, .modal-shadow.sc-ion-modal-md {
    overflow: visible !important;

    .ion-page {
        overflow: visible !important;
        // border-radius: 55px 55px 0 0;
    }
}
//mat calender
.mat-calendar-body-selected{
  background-color:$primary-color;
}
.mat-datepicker-toggle, ngx-material-timepicker-toggle{
  position: absolute;
    right: 0;
    bottom: 0;

}
.mat-button-wrapper, ngx-material-timepicker-toggle{
  color:$primary-color;
}
.mat-datepicker-toggle-active, .ngx-material-timepicker-toggle{
  color:$primary-color;
}
.mat-button-wrapper svg{
  width:20px;
}
.mat-datepicker-input, .mat-input-element{
  border:0;
  outline:0;
  font-size: 18px;
  color:$primary-color;
  padding: 0;
  margin: 12px 0 !important;
  background-color: transparent;
  @media only screen and (min-width:320px) and (max-width:767px){
    font-size:16px;
  }
}
// mat-table
  .mat-table thead{
    // background:linear-gradient(90deg, #2648a7,#17bfe7);
    background:$primary-color;
  }
  .mat-header-cell {
    color: $white;
    font-size: 16px;
  }
  .mat-cell{
    color:$primary-color;
    font-size:14px;
  }
  // mat-footer-row, mat-header-row, mat-row, td.mat-cell, td.mat-footer-cell, th.mat-header-cell{
  //   border-bottom-color:$primary-color;
  // }
  // tr.mat-row, tr.mat-footer-row,tr.mat-header-row{
  //   border-left:1px solid $primary-color;
  //   border-right:1px solid $primary-color;
  // }
// ----------------------------Scrollbar css
// html {
//     --scrollbarBG: #DDE4FF;
//     --thumbBG: #DDE4FF;
//   }
//   body::-webkit-scrollbar {
//     width: 11px;
//   }
//   body {
//     scrollbar-width: thin;
//     scrollbar-color: var(--thumbBG) var(--scrollbarBG);
//   }
//   body::-webkit-scrollbar-track {
//     background: var(--scrollbarBG);
//   }
//   body::-webkit-scrollbar-thumb {
//     background-color: var(--thumbBG) ;
//     border-radius: 6px;
//     border: 3px solid var(--scrollbarBG);
//   }

//   /* width */
//   ::-webkit-scrollbar {
//     width: 3px;
//     height: 3px;
//   }

//   /* Track */
//   ::-webkit-scrollbar-track {
//     background: #f1f1f1;
//   }

//   /* Handle */
//   ::-webkit-scrollbar-thumb {
//     background: #DDE4FF;
//   }

//   /* Handle on hover */
//   ::-webkit-scrollbar-thumb:hover {
//     background: #555;
//   }
  ion-toast.error::part(container){
    top: calc(94px + var(--ion-safe-area-top, 0px)) !important;
    text-align: center !important;
    background: #fff !important;
    color: #d27070 !important;
    border-left: 5px solid #d27070!important;
    border-radius:0!important;
  }
  ion-toast.success::part(container){
    top: calc(94px + var(--ion-safe-area-top, 0px)) !important;
    text-align: center !important;
    background: #fff !important;
    color: #48ad51 !important;
    border-left: 5px solid #48ad51!important;
    border-radius:0!important;
  }
  ion-toast.info::part(container){
    top: calc(94px + var(--ion-safe-area-top, 0px)) !important;
    text-align: center !important;
    background: #fff !important;
    color: orange !important;
    border-left: 5px solid orange!important;
    border-radius:0!important;
  }
  .sc-ion-popover-md-h,.sc-ion-popover-ios-h{
    --width:200px !important;
  }
  // steps header
  .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit{
    background-color: $white;
    color:$primary-color;
  }
  // .mat-step-text-label{
  //   color:$white;
  // }
  .mat-stepper-label-position-bottom .mat-horizontal-stepper-header, .mat-vertical-stepper-header {
    padding: 20px 10px 20px 10px;
  }
  .mat-vertical-content-container {
    margin-left: 21px !important;
    @media only screen and (min-width:320px) and (max-width:767px){
      margin-left:0!important;
      padding: 0 10px;
      border-left: 1px solid #c7c7c7 !important;
      border-right: 1px solid #c7c7c7 !important;
    }
  }
  .mat-vertical-content {
    padding: 0 0px 24px 10px !important;
    @media only screen and (min-width:320px) and (max-width:767px){
      padding: 0 0px 24px 0px !important;
    }
  }
  @media only screen and (min-width:320px) and (max-width:767px){
    .mat-stepper-vertical-line::before{
      border-left-width: 0 !important;
    }
    .mat-stepper-vertical{
      border-bottom: 1px solid #c7c7c7 !important;
      .validate-benificiary ion-item{
        --padding-start:0;
      }
    }
  }
  .native-input[disabled].sc-ion-input-md {
    opacity: 0.7 !important;
  }

  .item-interactive-disabled:not(.item-multiple-inputs) .sc-ion-label-md-h {
    opacity: 0.7 !important;
}
.mat-vertical-stepper-header {
  //:linear-gradient(90deg,#2648a7,#17bfe7);
  background: $primary-color !important;
}
.mat-horizontal-stepper-header-container {
  //: linear-gradient(90deg, #2648a7,#17bfe7);
  background: $primary-color;
}
.mat-step-header:hover{
  background:$primary-color;
}
.mat-step-icon-content .icon-icon-tick {
  font-size: 10px;
  line-height: 19px;
}
th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding: 0 10px !important;
}

.surveyor-table-wrapper{
  height: 400px;
  overflow: auto;
  // .mat-table thead{
  //   background: #61B6CB !important;
  // }
}
.mat-horizontal-stepper-header:after, .mat-horizontal-stepper-header:before, .mat-stepper-horizontal-line{
  border-top-color: $white;
}
.mat-step-header .mat-step-icon {
  background-color: $theme-yellow;
}
.mat-step-text-label{
  color:$theme-yellow;
  text-transform: uppercase;
}
.mat-step-header .mat-step-label.mat-step-label-active .mat-step-text-label{
  color:$white;
}
.mat-table, .mat-stepper-horizontal, .mat-stepper-vertical{
  font-family: 'Montserrat', sans-serif !important;
}
.ion-color-primary{
  --ion-color-base:#002060!important;
  --ion-color-tint: rgba(0, 32,96, 0.8) !important;

}

.filter-date .label-floating .sc-ion-label-ios-h,.filter-date .label-floating.sc-ion-label-md-h{
  margin-bottom:6px!important;
}
// ion-item.filter-date {
//   --border-color: #002060;
// }
.mat-table{
  border:1px solid #dde4ff;
}
.mat-table.mat-elevation-z8{
  box-shadow: none;
}
table.mat-table{
  border-collapse: inherit;
}
mat-row, mat-header-row, mat-footer-row, th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
  border-bottom-color:#dde4ff;
}
.mat-table tr:last-child td{
  border-bottom-width:0;
}
form ion-item.item-select.item-interactive.ion-invalid.ion-touched, form ion-item.item-input.item-interactive.ion-invalid.ion-touched, form ion-item.item-datetime.item-interactive.ion-invalid.ion-touched{
  border-bottom-color:#ff0000;
}
form ion-item.item-select.item-interactive.ion-invalid.ion-touched ion-label, form ion-item.item-input.item-interactive.ion-invalid.ion-touched ion-label, form ion-item.item-datetime.item-interactive.ion-invalid.ion-touched ion-label{
  color:red !important;
}
.ion-color-danger{
  --ion-color-base: #ff0000!important;
}
.native-input[disabled].sc-ion-input-md, .native-input[disabled].sc-ion-input-ios ,.select-disabled {
  opacity: 0.7 !important;
  color:orange !important;
  font-weight: 600 !important;
  // padding-left: 5px !important;
}

.item-interactive-disabled:not(.item-multiple-inputs) .sc-ion-label-md-h,.item-interactive-disabled.sc-ion-label-ios-h:not(.item-multiple-inputs), .item-interactive-disabled:not(.item-multiple-inputs) .sc-ion-label-ios-h {
  opacity: 0.7 !important;
  font-weight: 600;
  //padding-left: 5px !important;
}
form ion-item.item-select.item-interactive-disabled, form ion-item.item-input.item-interactive-disabled, form ion-item.item-datetime.item-interactive-disabled{

cursor: not-allowed;
//--background: #f1f1f1!important;

}

.mat-row {
  cursor: pointer;
}

.mat-header-row .mat-header-cell {
  text-align: left;
}
th.mat-header-cell, td.mat-cell{
  text-align: left;
}
 .alert-confirm-box{
  .alert-message.sc-ion-alert-md, .alert-input-group.sc-ion-alert-md{
    padding-top:20px !important;
    color:$primary-color;
    font-weight: 500;
  }
  .alert-head.sc-ion-alert-md{
    background-color:$primary-color;
    color:$white;
    .alert-title{
      color:$white!important;
    }
   }
   .alert-button.sc-ion-alert-md.vaccinate{

    background-color:$primary-color;
    color:$white;
    box-shadow:1px 2px 8px 7px #0000000a;
    border-radius:31px;
    width:40%;
    .alert-button-inner.sc-ion-alert-md{
      -ms-flex-pack: center;
      justify-content: center;
    }
   }

   .alert-button-role-cancel.secondary.noBtn.sc-ion-alert-md{
      background-color: $white;
      color:$primary-color;
      border-radius:31px;
      box-shadow: 1px 2px 8px 7px #0000000a;
      width:40%;
      .alert-button-inner.sc-ion-alert-md{
        -ms-flex-pack: center;
        justify-content: center;
      }
   }


   .alert-button-group.sc-ion-alert-md{
     justify-content: center;
   }
 }

 .alert-radio-label.sc-ion-alert-md{
  text-transform: capitalize;
}
.alert-confirm-box{
  .alert-button-inner.sc-ion-alert-md {
    @media only screen and (min-width:320px) and (max-width:767px){
    -ms-flex-pack: center;
    justify-content: center;
    }
  }
  button.alert-button.ion-focusable.ion-activatable.secondary.sc-ion-alert-md{
    @media only screen and (min-width:320px) and (max-width:767px){
    background-color:$primary-color;
    color:$white;
    box-shadow:1px 2px 8px 7px #0000000a;
    border-radius:31px;
    width:40%;
    margin: 0 auto;
    text-align: center;
    }
   }
   button.alert-button.ion-focusable.ion-activatable.alert-button-role-cancel.secondary.sc-ion-alert-md{
    @media only screen and (min-width:320px) and (max-width:767px){
      background-color: $white;
      color:$primary-color;
      border-radius:31px;
      box-shadow: 1px 2px 8px 7px #0000000a;
      width:40%;
      margin: 0 auto;
      text-align: center;
    }
  }
 }

.custom-mike{
    border: 1px solid #002060;
    height: 30px;
    width: 30px;
    display: inline-block;
    text-align: center;
    line-height: 28px;
    border-radius: 50%;
    color: #002060;
    cursor: pointer;
    font-size:18px;
    transition: .5s ease;
}

.custom-mike:hover{
  background:#002060;
  color:#fff;
}

// .benificiary-text{
//     flex: inherit;
//     margin-right: 10px !important;
// }

.m-r-5{
margin-right:5px !important;
}

.m-l-5{
  margin-left:5px !important;
}

.chat-screen .chat-body .chat-bubble {
  font-size: 12px;
  padding: 10px 15px;
  box-shadow: none;
  display: inline-block;
  clear: both;
  margin-bottom: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.02);
}
.chat-screen .chat-body .chat-bubble.you {
  background: #002060;
  color: #fff;
  border-radius: 0 15px 15px 15px;
  align-self: flex-start;
  display: table;
  float:right;
}
.chat-screen .chat-body .chat-bubble.me {
  background: #ddd;
  color: #000;
  border-radius: 15px 0px 15px 15px;
  float: left;
  align-self: flex-end;
  display: table;
}
.chat-screen .chat-input {
  width: 100%;
  position: relative;
  margin-bottom: -5px;
}
form .item-label-floating.item-datetime{
  padding-bottom:2px !important;
}
.picker-opts{
  max-width:50px!important;
}
.timepicker__header {
  background-color: $primary-color!important;
}
.timepicker-dial__control{
  outline:none;
}
.clock-face__number > span.active{
  background-color: $primary-color!important;
}
.timepicker-button{
  color:$primary-color!important;
  font-weight:500;
  font-family: 'Montserrat', sans-serif !important;
}
.timepicker-button span{
  font-size:16px !important;
  font-family: 'Montserrat', sans-serif !important;
}
.timepicker-button:focus, .timepicker-button:hover {
  // background-color: rgba(153,153,153,.2);
  background-color: transparent!important;
}
// .clock-face__number{
//   --clock-hand-color:#002060!important;
//   --dial-background-color: #002060!important;
//   --dial-editable-active-color: #002060!important;
//   --button-color: #002060!important;
// }
.clock-face__clock-hand {
  background-color: $primary-color !important;

  &::after {
    background-color: $primary-color !important;
  }

  &::before {
    border-color: $primary-color !important;
  }
}
form ion-datetime{
  @media screen and (min-width:320px) and (max-width:767px){
    --padding-top: 0;
    --padding-bottom: 0;
    --border-color:transparent;
  }
}
form .item-datetime{
  @media screen and (min-width:320px) and (max-width:767px){
    --inner-border-width: 0px 0px 0px 0px;
  }
}

::ng-deep .mat-sort-header-container:not(.mat-sort-header-sorted) .mat-sort-header-arrow {
  opacity: 0.54 !important;
  transform: translateY(0px) !important;
}
.vial-dialog .mat-dialog-container, .vaccinator-type-dialog .mat-dialog-container{
  padding:0;
}
.vial-dialog .mat-dialog-title, .vaccinator-type-dialog .mat-dialog-title{
  padding:24px;
  background-color: $primary-color;
  color:$white;
  margin:0;
}
.vial-dialog .mat-dialog-content, .vaccinator-type-dialog .mat-dialog-content{
  margin:0;
}
.vaccinator-type-dialog .mat-dialog-content{
  padding: 0 30px;
}
.vaccinator-type-dialog .mat-dialog-content ion-list-header{
  padding:0;
  ion-label{
    font-size: 18px;
    margin-top:15px;
    font-weight:600 !important;
  }
}
.vial-dialog .vaccinate-submit, .vaccinator-type-dialog .vaccinate-submit{
  margin:10px auto 25px;
  text-align: center;
}
.vaccinator-type-dialog .vaccinate-submit{
  margin:20px auto 25px;
}
.mat-sort-header-arrow{
  color:$white;
}



.mat-sort-header-sorted {
  color: #ffc000 !important;
}
.mat-sort-header-content{
  text-align: left;
}
.ion-color-primary{
  --ion-color-tint:transparent;
}
.vaccinator-type-dialog .item.sc-ion-label-ios-h, .vaccinator-type-dialog .item .sc-ion-label-ios-h{
  font-size: 15px;
}
.btn-yes, .btn-no{
  --background: #002060;
}
.mat-tab-label, .mat-tab-link{
  opacity: 1 !important;
  color:$dark-grey !important;
  font-size:18px !important;
  font-family: 'Montserrat', sans-serif !important;
}
.mat-tab-label-active{
  color:$primary-color !important;
  font-weight: 600;
}
.benificiary-checkbox{
  @media only screen and (min-width:320px) and (max-width:767px) {
    align-items: flex-start !important;
    ion-checkbox{
      margin-top:5px !important;
    }
    ion-label{
      color: $dark-grey !important;
      font-weight: 600!important;
      margin:0!important;
    }
  }
}
.mat-tab-label{
  @media only screen and (min-width:320px) and (max-width:767px) {
    padding:0 5px !important;
  }
}

button.alert-button.updateappBtn.secondary{
  width:auto !important;
}
.mat-paginator, .mat-paginator-page-size .mat-select-trigger{
  color: rgba(0,0,0,.9);
}
.mat-paginator, .mat-paginator-page-size .mat-select-trigger {
  font-size:16px !important;
  font-family: 'Montserrat', sans-serif !important;
}
.mat-form-field, .mat-select{
  font-family: 'Montserrat', sans-serif !important;
}
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: $primary-color;
}
ion-button.grid-download{
  --background:#002060;
}

::ng-deep .mat-select-arrow {
  color:#002060;
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: transparent;
}
::selection .mat-select-arrow {
  color:#002060;
}
::selection .mat-form-field-appearance-legacy .mat-form-field-underline{
  background-color:#002060;
}
