/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.vertical-top-margin {
  margin-top: 95px;
}
.welcome-title {
  color: #303030;
  font-family: Roboto;
  font-size: 23px;
  font-weight: bold;
  text-align: left;
  float: left;
  letter-spacing: 0;
  line-height: 27px;
  .user-name {
    color: #303030;
    font-family: Roboto;
    font-size: 13px;
    letter-spacing: 0;
    font-weight: normal;
    line-height: 15px;
    display: block;
  }
}

.welcome-subtitle {
  font-family: Roboto;
  font-size: 13px;
  line-height: 15px;
  color: #303030;
  margin: 0;
  font-weight: normal;
  margin: 0;
}

.notificatin-icon {
  float: left;
  margin: 0;
}

.notificatin-icon img {
  float: right;
  height: 26px;
  position: relative;
  margin: 6px 0 0;
}

.notification-badge {
  position: absolute;
  top: 22px;
  right: 37px;
  font-size: 8px;
  width: 20px;
  height: 19px;
  padding: 3px;
  background: #a02a2a;
  border: 2px solid #fff;
}

.app-details {
  float: right;
  margin-top: 15px;
}

a.ion-logout {
  height: 34px;
  margin: 6px 0px 0 12px;
  float: right;
  font-size: 26px;
}

.welcome-title {
  ion-label {
    span {
      color: #303030;
      font-family: Roboto;
      font-size: 23px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 27px;
    }
  }
}

ion-header {
  z-index: 999;
  background: #fff;
}
ion-label {
  a {
    color: #303030;
    text-decoration: none;
  }
}
.my-modal .modal-wrapper {
  top: 50px;
  height: auto;
  min-height: 550px;
  width: 95%;
  border-radius: 11px;
  background-color: #FFFFFF;
  position: relative;
  display: block;
}
