:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    //  background: var(--ion-color-secondary);
    background: #fff;
    color: var(--ion-color-primary-contrast);
    padding-bottom: var(--ion-safe-area-bottom);
}

.header {
    padding: 1rem;
    padding-top: calc(var(--ion-safe-area-top) + 1.5rem);
    display: flex;
    background: #74C066;
    align-content: center;
    justify-content: center;
    width: 100%;
    padding-left: 0.5rem;
}

.logo img {
    width: 80%;
}

.nav {
    display: flex;
    flex-grow: 5;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
}

.nav-item {
    padding: 15px;
    font-size: 15px;
    font-family: Roboto;
    border-bottom: solid 1px rgba(34, 34, 34, 0.18);
    ion-icon {
        margin: 1px 9px 0 0px;
        float: left;
    }
}

.nav-item span.divider {
    padding-top: 10px;
    width: 100%;
    display: block;
}

.icon {
    margin-right: 0.5rem;
}

.nav-item:hover,
.nav-item:active {
    background: rgba(var(34, 34, 34), 0.1);
}