<header>
    <h3 class="page-title">Dashboard</h3>
    <p class="page-sub-title">Welcome back!</p>
</header>

<section class="main-section">
    <div class="page-center-content">
        
        <div class="card" routerLink="/distributor">
            <img src="../../../assets/images/sabari.jpg" class="card-img-top" alt="sabari">
            <div class="card-body">
                <h5 class="card-title">Sabari Milk</h5>
            </div>
        </div>
    
        <div class="card" routerLink="/distributor">
            <img src="../../../assets/images/menma.png" class="card-img-top" alt="Menma">
            <div class="card-body">
                <h5 class="card-title">Menma Milk</h5>
            </div>
        </div>

        <div class="card" routerLink="/distributor">
            <img src="../../../assets/images/malabar.png" class="card-img-top" alt="malabar">
            <div class="card-body">
                <h5 class="card-title">Malabar Milk</h5>
            </div>
        </div>
    
    </div>
</section>