<header>
    <h3 class="page-title">Dashboard</h3>
    <p class="page-sub-title">Welcome back!</p>
</header>

<section class="main-section">
    <div class="page-center-content">
        
        <div class="card" *ngFor="let item of brands" routerLink="/distributor" >
            <img src="../../../assets/images/sabari.jpg" class="card-img-top" alt="sabari">
            <div class="card-body">
                <h5 class="card-title">{{item.name}}</h5>
            </div>
        </div>
    </div>
</section>