<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen class="ion-padding">
  <div class="common-bottom-bg">
    <div class="reset-password">
      <form
        [formGroup]="updatePasswordForm"
        (ngSubmit)="submit()"
        class="form-with-label"
      >
        <ion-item lines="none" class="input-space">
          <ion-label position="floating">Create New Password</ion-label>
          <ion-input
            formControlName="newPassword"
            type="password"
            maxlength="11"
          ></ion-input>
        </ion-item>
        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.newPassword">
            <div
              class="error-message"
              *ngIf="updatePasswordForm.get('newPassword').hasError(error.type) && (updatePasswordForm.get('newPassword').dirty || updatePasswordForm.get('newPassword').touched)"
            >
              <ion-item class="error-validation error-position">
                {{ error.message }}
              </ion-item>
            </div>
          </ng-container>
        </div>

        <ion-item lines="none" class="input-space">
          <ion-label position="floating">Confirm Password</ion-label>
          <ion-input
            formControlName="confirmpassword"
            type="password"
          ></ion-input>
        </ion-item>
        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.confirmpassword">
            <div
              class="error-message"
              *ngIf="updatePasswordForm.get('confirmpassword').hasError(error.type) && (updatePasswordForm.get('confirmpassword').dirty || updatePasswordForm.get('confirmpassword').touched)"
            >
              <ion-item class="error-validation error-position">
                {{ error.message }}
              </ion-item>
            </div>

          </ng-container>
        </div>

        <ion-button type="submit" [disabled]="!updatePasswordForm.valid"
          >Update Password</ion-button
        >
      </form>
    </div>
  </div>
</ion-content>
