<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-title>
            <h3 class="welcome-title" *ngIf="isLogin">
              <span>Hello, </span>
              <span class="user-name">{{ this.currentUser.name }}</span>
            </h3>
          </ion-title>
        </ion-col>
        <ion-col size="6">
          <div class="app-details">
            <a href="" class="ion-logout">
              <a (click)="logout()">
                <ion-icon slot="start" name="log-out"></ion-icon>
              </a>
            </a>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="vertical-top-margin">
    <ion-grid class="invoice-details">
      <ion-row>
        <ion-col size="12">
          <div class="delivery-invoice">
            <p>Distributor</p>
            <span>{{distributor?.code}}</span>
            <span class="badge"></span>
          </div>
        </ion-col>
        <ion-col size="4">
          <div class="delivery-invoice">
            <p>Name</p>
            <span>{{distributor?.name}}</span>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="delivery-invoice">
            <p>Brand</p>
            <span>{{distributor?.brand[0].name}}</span>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="delivery-invoice">
            <p>Location</p>
            <span class="address">{{distributor?.address}}</span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card>
      <ion-item color="blue" class="invoice">
        <ion-grid>
          <ion-row>
            <ion-col size="12" *ngFor="let item of orders">
              <ion-label>
                <p class="invoice-num">Invoice Number #{{item.orderId}}</p>
                <ion-card>
                  <ion-item>
                    <ion-grid>
                      <ion-row>
                        <ion-col size="8">
                          <ion-label>Items</ion-label>
                          <div class="align">
                            <p *ngFor="let product of item.product">
                              {{product.productId.name}}
                            </p>
                          </div>
                        </ion-col>
                        <ion-col size="4">
                          <ion-label>Quantity</ion-label>
                          <div class="align">
                            <p *ngFor="let product of item.product">{{product.qty}} Crates</p>
                          </div>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-item>
                </ion-card>
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="7">
              <p class="delivery-completed">Delivery Completed?</p>
            </ion-col>
            <ion-col size="5">
              <a href="" class="invoice-btn">Yes</a>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-card>
    <ion-grid class="returns">
      <ion-row>
        <ion-col size="12">
          <h4 class="heading-title">Returns</h4>
        </ion-col>
        <ion-col size="6">
          <ion-card>
            <ion-item color="rcy">
              <ion-label>
                <div class="center">
                  <p>Crates In</p>
                  <span>28</span>
                </div>
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card>
            <ion-item color="rcy">
              <ion-label>
                <div class="center">
                  <p>Crates In</p>
                  <span>8</span>
                </div>
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card>
            <ion-item color="rcb">
              <ion-label>
                <div class="center">
                  <p>Cash recieved</p>
                  <span>3500</span>
                </div>
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card>
            <ion-item color="rcr">
              <ion-label>
                <div class="align">
                  <span>Report Leakage</span>
                </div>
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-col>
        <ion-col size="12">
          <div class="cart-button-col">
            <section class="full-width">
              <ion-button
                expand="block"
                color="cart-button"
                class="order-review"
                >Add Entry!
              </ion-button>
            </section>
          </div>
          <div class="call-details" (click)="callNumber(7799851596)">
            <img src="\assets\icon\phone.png" />
            <span>Contact Admin</span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
