<ion-content>
    <div class="vertical-top-margin">
        <ion-grid>
            <ion-row>
                <ion-col size="12">
                    <div class="delivery-invoice">
                        <p>Distributor</p>
                        <span>TVM06SABSEB</span>
                    </div>
                </ion-col>
                <ion-col size=4>
                    <div class="delivery-invoice">
                        <p>Name</p>
                        <span>Sebastian</span>
                    </div>
                </ion-col>
                <ion-col size=4>
                    <div class="delivery-invoice">
                        <p>Brand</p>
                        <span>Sabari</span>
                    </div>
                </ion-col>
                <ion-col size="6">
                    <div class="delivery-invoice">
                        <p>Location</p>
                        <span class="address">Seba Stores,
                        Puthiyakavu, Mavelikara
                        Near Arvee Furniture</span>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-card>
            <ion-item color="blue" class="invoice">
                <ion-grid>
                    <ion-row>
                        <ion-col size="12">
                            <ion-label>
                                <p class="invoice-num">Invoice Number #24242</p>
                                <ion-card>
                                    <ion-item>
                                        <ion-grid>
                                            <ion-row>
                                                <ion-col size="8">
                                                    <ion-label>Items</ion-label>
                                                    <div class="align">
                                                        <p>Sabari Cow Milk 500 ml</p>
                                                        <p>Sabari Cow Milk 450 ml</p>
                                                        <p>Sabari Cow Milk 1000 ml</p>
                                                        <p>Sabari Cow Milk 450 ml</p>
                                                        <p>Jazz SipUp</p>

                                                    </div>
                                                </ion-col>
                                                <ion-col size="4">
                                                    <ion-label>Quantity</ion-label>
                                                    <div class="align">
                                                        <p>50 Crates</p>
                                                        <p>20 Crates</p>
                                                        <p>12 Crates</p>
                                                        <p>22</p>
                                                        <p>7 Crates</p>

                                                    </div>
                                                </ion-col>

                                            </ion-row>
                                        </ion-grid>

                                    </ion-item>
                                </ion-card>
                            </ion-label>
                        </ion-col>
                        <ion-col size="12">
                            <ion-label>
                                <p class="invoice-num">Invoice Number #24243</p>

                                <ion-card>
                                    <ion-item>
                                        <ion-grid>
                                            <ion-row>
                                                <ion-col size="8">
                                                    <ion-label>Items</ion-label>
                                                    <div class="align">
                                                        <p>Sabari Cow Milk 500 ml</p>
                                                        <p>Sabari Cow Milk 450 ml</p>
                                                        <p>Sabari Cow Milk 1000 ml</p>


                                                    </div>
                                                </ion-col>
                                                <ion-col size="4">
                                                    <ion-label>Quantity</ion-label>
                                                    <div class="align">
                                                        <p>50 Crates</p>
                                                        <p>20 Crates</p>
                                                        <p>12 Crates</p>


                                                    </div>
                                                </ion-col>

                                            </ion-row>
                                        </ion-grid>

                                    </ion-item>
                                </ion-card>
                            </ion-label>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="7">
                            <p class="delivery-completed">Delivery Completed?</p>
                        </ion-col>
                        <ion-col size="5">
                            <a href="" class="invoice-btn">Yes</a>
                        </ion-col>

                    </ion-row>
                </ion-grid>

            </ion-item>
        </ion-card>
        <ion-grid class="returns">
            <ion-row>
                <ion-col size="12">
                    <h4 class="heading-title">Returns</h4>
                </ion-col>
                <ion-col size="6">
                    <ion-card>
                        <ion-item color="rcy">
                            <ion-label>
                                <div class="center">
                                    <p>Crates In</p>
                                    <span>28</span>
                                </div>
                            </ion-label>
                        </ion-item>
                    </ion-card>
                </ion-col>
                <ion-col size=6>
                    <ion-card>
                        <ion-item color="rcy">
                            <ion-label>
                                <div class="center">
                                    <p>Crates In</p>
                                    <span>8</span>
                                </div>
                            </ion-label>
                        </ion-item>
                    </ion-card>
                </ion-col>
                <ion-col size=6>
                    <ion-card>
                        <ion-item color="rcb">
                            <ion-label>
                                <div class="center">
                                    <p>Cash recieved</p>
                                    <span>3500</span>
                                </div>
                            </ion-label>
                        </ion-item>
                    </ion-card>
                </ion-col>
                <ion-col size="6">
                    <ion-card>
                        <ion-item color="rcr">
                            <ion-label>
                                <div class="align">
                                    <span>Report Leakage</span>
                                </div>
                            </ion-label>
                        </ion-item>
                    </ion-card>
                </ion-col>
                <ion-col size="12">
                    <div class="cart-button-col">
                        <section class="full-width">
                            <ion-button expand="block" color="cart-button" class="order-review">Add Entry!
                            </ion-button>
                        </section>
                    </div>
                    <div class="call-details">
                        <img src="\assets\icon\phone.png">
                        <span>Contact Admin</span>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

</ion-content>