<ion-content>
  <ion-card class="content-box">
    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="card-sharp"></ion-icon>
      </ion-avatar>
      <ion-label>
        <div class="align">
          <h6 class="ion-text-start">Outstanding Crates</h6>
        </div>
        <h1>56</h1>
        <div class="align">
          <a href="">View History</a>
        </div>
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-card class="content-box">
    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="cash"></ion-icon>
      </ion-avatar>
      <ion-label>
        <div class="align">
          <h6 class="ion-text-start">Outstanding Money</h6>
        </div>
        <h1>56</h1>
        <div class="align">
          <a href="">View History</a>
        </div>
      </ion-label>
    </ion-item>
  </ion-card>
</ion-content>
