<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-title>
            <h3 class="welcome-title" *ngIf="isLogin">
              <span>Hello, </span>
              <span class="user-name">{{ this.currentUser.name }}</span>
            </h3>
          </ion-title>
        </ion-col>
        <ion-col size="6">
          <div class="app-details">
            <a href="" class="ion-logout">
              <a (click)="logout()">
                <ion-icon slot="start" name="log-out"></ion-icon>
              </a>
            </a>
            <p class="notificatin-icon" (click)="notifications()">
              <img src="\assets\icon\notification.svg" />
              <ion-badge color="primary" mode="ios" class="notification-badge"
                >{{count}}</ion-badge
              >
            </p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-tabs>
  <ion-tabs #tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="dashboard" (click)="openTab('dashboard', $event)">
        <ion-icon src="\assets\icon\quickpay.svg"></ion-icon>
        <ion-label>Quick Pay</ion-label>
      </ion-tab-button>

      <ion-tab-button>
        <ion-icon src="\assets\icon\Routes.svg"></ion-icon>
        <ion-label>Create Details</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="cart" (click)="openTab('cart', $event)">
        <ion-icon src="\assets\icon\shopping-cart.svg"></ion-icon>
        <ion-label>Order Now</ion-label>
      </ion-tab-button>

      <ion-tab-button>
        <ion-icon src="\assets\icon\phone-call.svg" (click)="callNow('18001010101')"></ion-icon>
        <ion-label>Call Admin</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-tabs>
